.container-base {
  width: 100%;
  height: calc(100% - 4rem);
  margin-top: 4rem;
  position: absolute;
  box-sizing: border-box;
  padding: 2rem;
  overflow-y: auto;
  display: grid;
  grid-gap: 2rem;
  max-width: 50%;

//   @media (min-width: 600px) {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   @media (min-width: 900px) {
//     grid-template-columns: repeat(3, 1fr);
//   }
}
